/var/ait_install/*
/var/backups/*
/var/cache/*
/var/import/*
/var/locks/*
/media/*
/var/log/*
/var/report/*
/var/rw_google_base/*
/var/session/*
/var/sitemap/*
/var/tmp/*
/var/ait_rewrite/*
/var/zoom/default/*
!var/*/.gitignore
.ftpquota
.DS_Store
Thumbs.db
Desktop.ini
stats
/nbproject/private/
/nbproject/
app/etc/local.xml
