<?xml version="1.0"?>
<config>
    <modules>
        <Lunwen_TEXTMESS>
            <version>1.0.6</version>
        </Lunwen_TEXTMESS>
    </modules>
    <global>
        <models>
            <lunwen_textmess>
                <class>Lunwen_TEXTMESS_Model</class>
            </lunwen_textmess>
        </models>
        <helpers>
            <lunwen_textmess>
                <class>Lunwen_TEXTMESS_Helper</class>
            </lunwen_textmess>
        </helpers>
        <events>
            <sales_order_payment_pay>
                <observers>
                    <lunwen_textmess_sendtext>
                      <type>singleton</type>
                      <class>lunwen_textmess/observer</class>
                      <method>sendtext</method>
                    </lunwen_textmess_sendtext>
                </observers>
            </sales_order_payment_pay>
            <sales_order_save_before>
                <observers>
                    <lunwen_textmess_textStatus>
                      <type>singleton</type>
                      <class>lunwen_textmess/observer</class>
                      <method>textStatus</method>
                    </lunwen_textmess_textStatus>
                </observers>
            </sales_order_save_before>
        </events>
    </global>
    <default>
        <system>
            <lunwen_textmess>
                <interests>NEW_RELEASE,MODULE_UPDATE,INFO</interests>
            </lunwen_textmess>
        </system>
    </default>
</config>
