<div class="hot-product-review"><span class="review-title">Hot product review</span>
<div class="review-video"><object width="520" height="224" data="http://www.youtube.com/v/yAVMxJyUdv0?version=3&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash"><param name="allowFullScreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="wmode" value="transparent" /><param name="src" value="http://www.youtube.com/v/yAVMxJyUdv0?version=3&amp;hl=en_US&amp;rel=0" /><param name="allowfullscreen" value="true" /></object></div>
<div class="review-des"><span class="video-title"><a href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed </a></span>
<p class="video-des">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat</p>
<p><a class="dis-now" href="#&quot;"><span class="video-link">discover now</span></a></p>
</div>
</div>